<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd">


    <context:component-scan base-package="com.srv"/>

    <import resource="properties.xml"/>

    <bean id="fcmSendProcess" class="com.srv.send.FcmSendProcess"/>

    <bean id="fileQueuMain" class="com.srv.fileQueu.FileQueuMain"/>

    <bean id="writeThread" class="com.srv.send.SendDataWriteThread" scope="prototype" >
        <constructor-arg ref="fileQueuMain"/>
    </bean>

    <bean id="readThread" class="com.srv.send.SendDataReadThread" scope="prototype">
        <constructor-arg ref="fileQueuMain"/>
    </bean>


    <bean id="atomicCustom" class="com.srv.util.AtomicCustom"/>

    <bean id="monitorApp" class="com.srv.MonitorApp"/>




</beans>
